.box_one{
  margin: 5%;
  display: flex;
  justify-content: center; 
}
.box_two{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
.title{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
#input_cnpj{
    margin-top: 20px;
    width: 250px; 
    height: 25px;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

#btn_pesquisar{
    border-radius: 5%;
    width: 100px;
    font-weight: bold;
    background-color: rgb(9, 15, 105);
    color: white;
}
#btn_apagar{
    border-radius: 5%;
    height: 40px;
    width: 100px;
    font-weight: bold;
    background-color: rgb(9, 15, 105);
    color: white;
}
.result{
    display: none;
    margin-top: 10px;
    width: 250px;
}
.result_name, .result_cnpj, .result_uf, .result_municipio {
    background-color: rgb(172, 169, 169);
    width: 100%;
}

footer{
    margin-top: 40px;;
}